.viewer :global {
  .ant-descriptions-header {
    margin-bottom: 10px;
  }

  .ant-divider {
    margin: 0 0 10px;
  }
}


.viewerTable :global {
  .ant-pro-card .ant-pro-card-body {
    padding: 0;
  }
}
