.layout :global {
  .ant-layout {
    height: 100vh;
  }

  .ant-layout>div:nth-child(1) {
    display: none;
  }

  @media (max-width:767px) {
    .ant-layout>div:nth-child(1) {
      display: block;
    }
  }

}