.layout :global {
  .ant-layout {
    height: 100vh;
  }

  .ant-layout>div:nth-child(1) {
    display: none;
  }

  /* .ant-pro-global-header {
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
  } */
}