.row {
  border    : 1px solid #ddd;
  border-top: 0;
}

.header {
  padding      : 10px 0;
  border-bottom: 1px solid #ddd;
}

.dir :global(.ant-checkbox-wrapper>span) {
  align-self: center
}

.dir {
  padding         : 10px;
  min-width       : 200px;
  background-color: #F1F1F1;
}

.policy {
  padding: 10px;
}
